version: "3.4"
services:
  hecate:
    image: xmidt/hecate:${HECATE_VERSION}
    ports:
      - 6700:6700
      - 6701:6701
      - 6702:6702
      - 6703:6703
    depends_on:
      - caduceus
      - goaws
    volumes:
      - ./docFiles/hecate.yaml:/etc/hecate/hecate.yaml
    networks:
      - xmidt

  caduceus:
    image: xmidt/caduceus:${CADUCEUS_VERSION}
    ports:
      - 6000:6000
      - 6001:6001
      - 6002:6002
      - 6003:6003
    depends_on:
      - argus
    volumes:
      - ./docFiles/caduceus.yaml:/etc/caduceus/caduceus.yaml
    networks:
      - xmidt

  tr1d1um:
    image: xmidt/tr1d1um:${TR1D1UM_VERSION}
    ports:
      - 6100:6100
      - 6101:6101
      - 6102:6102
    depends_on:
      - hecate
    volumes:
      - ./docFiles/tr1d1um.yaml:/etc/tr1d1um/tr1d1um.yaml
    networks:
      - xmidt

  goaws:
    image: goaws:local
    ports:
      - 4100:4100
    volumes:
      - ./docFiles/sns.yaml:/conf/goaws.yaml
    networks:
      - xmidt

  prometheus:
    image: prom/prometheus
    networks:
      - xmidt
    ports:
      - 9090:9090
    volumes:
      - ./docFiles/prometheus.yml:/prometheus-data/prometheus.yml
    command: --log.level=debug --config.file=/prometheus-data/prometheus.yml

  argus:
    image: xmidt/argus:${ARGUS_VERSION}
    ports:
      - 6600:6600
      - 6601:6601
      - 6602:6602
    depends_on:
      - dynamodb
    volumes:
      - ./docFiles/argus.yaml:/etc/argus/argus.yaml
    networks:
      - xmidt

  dynamodb:
    image: amazon/dynamodb-local
    hostname: dynamodb-local
    ports:
      - "8000:8000"
    networks:
      - xmidt

networks:
  xmidt:
